<ul class="slider" data-orbit data-options="slide_number: false;">
  <li>
    <%= image_tag "Serse.jpg" %>
  </li>
  <li>
    <%= image_tag "Cendrillon-Slider.jpg" %>
    <div class="orbit-caption">
      <%= (t :'caption1') %>
    </div>
  </li>
  <li>
    <%= image_tag "OdC-Ensemble.jpg" %>
    <div class="orbit-caption">
      <%= (t :'caption2') %>
    </div>
  </li>
  <li>
    <%= image_tag "OdC-Ensemble-3.jpg" %>
    <div class="orbit-caption">
      <%= (t :'caption3') %>
    </div>
  </li>
  <li>
    <%= image_tag "Banner-FIgaro-2.jpg" %>
    <div class="orbit-caption">
      <%= (t :'caption4') %>
    </div>
  </li>

</ul>