<!DOCTYPE html>
<%= render "/refinery/html_tag" %>
  <% site_bar = render('/refinery/site_bar', :head => true) -%>
  <head>
    <%= render "/refinery/head" %>
  </head>
  <body id="<%= canonical_id @page %>">
    <%= site_bar -%>
    
      <header id="header">
        <%= render "/refinery/header" -%>
      </header>

        <div class="wrapper">
          <%= yield %>
          <div id="mail-chimp-form">
            <form action="//operadacamera.us3.list-manage.com/subscribe/post?u=d05a791575b7f868367118397&amp;id=7f1066cf2f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <label for="mce-EMAIL">Liste d'envoi / Mailing list</label>
              <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px"><input type="text" name="b_d05a791575b7f868367118397_7f1066cf2f" tabindex="-1" value=""></div>
                <div><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button radius small"></div>
            </form>
            </div>
          <div class="push"></div>
        </div>

      <div class="footer">
        <%= render "/refinery/footer" -%>
      </div>
    
    <%= render "/refinery/javascripts" %>
    <script src="https://apis.google.com/js/platform.js"></script>
  </body>
</html>